<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<link rel="stylesheet" href="/adminLTE/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
		<link rel="stylesheet" href="/adminLTE/dist/css/AdminLTE.min.css" />
		<link rel="stylesheet" href="/adminLTE/plugins/iCheck/square/blue.css" />
		
		<script src="/adminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
		<script src="/adminLTE/bootstrap/js/bootstrap.min.js"></script>
		<script src="/adminLTE/plugins/iCheck/icheck.min.js"></script>
		<script src="/adminLTE/plugins/angular/angular.min.js"></script>		
		<script src="/adminLTE/dist/js/main.js"></script>					
	</head>
</html>